@page
@model Departments.Create

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Name" class="form-control" placeholder="Enter name" />
                <label asp-for="Data.Name" class="form-label"></label>
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Budget" class="form-control" placeholder="Enter budget" />
                <label asp-for="Data.Budget" class="form-label"></label>
                <span asp-validation-for="Data.Budget" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.StartDate" class="form-control datepicker" placeholder="Enter start date" />
                <label asp-for="Data.StartDate" class="form-label"></label>
                <span asp-validation-for="Data.StartDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Data.InstructorId" class="form-select">
                    <option value="">-- Select Administrator --</option>
                </select>
                <label asp-for="Data.InstructorId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
